<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frag's Writings :: $pagetitle$</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>
<body>
<p>Frag's Writings :: $title$</p>
<h3>$title$</h3>
$body$
<div><p>&nbsp;</p><hr/><p>&nbsp;</p></div>
<div style="font-size: x-small;">Last Updated on $date$ @ $time$ IST</div>
<p>&nbsp;</p>
<div style="text-align: center;">
<h5><a href="../index.html">Home</a>&nbsp;|&nbsp;<a href="../posts.html">Posts</a></h5>
</div>
</body>
</html>
